
.feedNav {
  display: flex;
  padding: 26px 20px;
  margin: 0 120px;
}
.navbox1 {
  display: flex;
  flex: 2;
}
.navbox2 {
  flex: 1;
}
.navbox3 {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.navbox1_2{
  border-left: 1px solid black;
  margin: 0 16px;
}
.navbox1_3 img {
  width: 100px;
  margin-top: 5px;
}

.feedNav > .navbox1 > .navbox1_1 img {
  height: 35px;
  width: 35px;
}
.feedNav .navbox1_2 {
  background-color: red;
}

.feedNav .navbox2 {
  text-align: center;
}

.feedNav .navbox2 input {
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
  font-size: 14px;
  width: 210px;
  padding: 0px;
  margin: 5px 0;
  /* height: 30px; */
  border-radius: 2px;
  text-align: center;
}

.feedNav .navbox3 .navbox3_1 {
  padding: 5px;
  margin: 0 10px;
}
.feedNav .navbox3 .navbox3_2 {
  padding: 5px;
  margin: 0 10px;
}
.feedNav .navbox3 .navbox3_3 {
  padding: 5px;
  margin: 0 10px;
}
