
.register_form h6 {
  text-align: center;
  font-weight: bold;
  color: #999;
  font-size: 16px;
}
.register_form {
  text-align: center;
}
.registerform img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.btn {
  width: 100%;
  /* margin: 10px 49px; */
  background-color: #3897f0!important;
  border-radius: 4px!important;
  height: 35px;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
}

.add_margin-right {
  margin-right: 7px;
}

.register_form .flex-container {
  display: flex;
  margin: 15px 0px;
}

.register_form .flex_item-one {
  flex: 8;
  font-size: 13px;
  margin: 0px;
  color: #e6e6e6;
}

.register_form .or-statement {
  flex: 1;
  font-weight: bold;
  font-size: 13px;
  color: #999;
  margin-right: 12px;
  margin-left: 12px;
}

.register_form .flex_item-three {
  flex: 8;
  font-size: 13px;
  color: #e6e6e6;
}

.register_form .inputs {
  margin-top: 10px;
  border-radius: 2px;
  background-color: #fafafa;
  font-size: 13px;
  color: rgba(var(--i1d,38,38,38),1);
}

.register_form .inputs-submit {
  margin-top: 10px;
}

.sign_up-agree-statement {
  margin-top: 20px;
  /* font-size: 14px; */
  color: #999999;
  /* margin: 10px 60px;  */
}

.sign_up-agree-statement a {
  font-weight: bold;
  color: #999999;
}
